<section id="repositorios">
  <div class="container">
    <h1>REPOSITORIOS</h1>
		<div class="row">
			<div class="col-8 col-xs-12 col-sm-12 col-md-6 col-lg-9">
				<p class="fs-2">
				Praesent gravida odio vitae nisl iaculis suscipit.
				Mauris eget mauris venenatis, congue eros eu, pharetra sem.
				Aliquam id nisi augue. Aliquam urna velit, sodales et mollis eget, mollis sed dolor.
				Duis pharetra ante vitae accumsan accumsan.
				</p>
				<a href="https://github.com/UNSLAM" target="_blank">
					<button type="button" class="btn btn-primary mt-5">Enlace a GitHub</button>
				</a>
			</div>
			<div data-aos="fade-right" data-aos-duration="3000" data-aos-anchor-placement="center-bottom" data-aos-offset="700" class="col-4 col-xs-12 col-sm-12 col-md-6 col-lg-3">
				<img src="assets/images/Memory storage-pana.png" style="width: 100%"/>
			</div>
		</div>
      
  </div>
</section>