<section id="nosotros">
  <div class="container">
    <h1>NOSOTROS</h1>
    <div class="row">
      <div class="col-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Donec ultrices eleifend justo, nec pharetra massa lobortis sed.
          Curabitur convallis, mauris ut eleifend tristique, nulla erat elementum
          est, nec congue augue purus non purus. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. In hac habitasse platea dictumst.
          Vivamus non risus dictum, scelerisque massa ut, accumsan ipsum.
          In egestas turpis non velit porta dictum eget id mauris.
          Phasellus elit sapien, viverra ac lorem pretium, interdum varius ante.
          Quisque vel ullamcorper sapien. Nullam gravida leo at enim tincidunt maximus.
          Aliquam congue porta porta. Integer facilisis nisl et velit sagittis, 
          et posuere dui convallis. In pulvinar malesuada mauris,
          a vulputate orci rutrum eget. Phasellus et odio est.
        </p>
      </div>
			<div class="col-4">
        <img src="assets/images/Navigation-amico.png" style="width:100%; height:auto"/>
      </div>
    </div>
  </div>
</section>