section {
  background-color: black;
}

.carousel-caption {
  background-color: black;
  border-radius: 30px;
  opacity: 0.5;
  /* padding: 10px; */
	height: auto;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
	.carousel-caption {
		background-color: black;
		border-radius: 30px;
		opacity: 0.5;
		height: 160px;
	}
}

.carousel-caption h1{
  opacity: 1;
}

@media (min-width: 1280px) {
  video {
    margin-bottom: -320px;
  }
}
