<section>
  <div class="container">
    <h1>DETALLES TÉCNICOS</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="fs-2">
          Nuestros AMR utilizan la técnica de posicionamiento conocida como
          Visual SLAM ("mapeo y localización simultáneos", por sus siglas en
          inglés, Simultaneous Localization And Mapping). Esta técnica hace uso
          de cámaras como sensores para reconocer los alrededores y, a través de
          las imágenes captadas se genera un mapa en el cual el sistema puede
          ubicar al AMR en tiempo real y configurarle una trayectoria hasta su
          destino. Esto se consigue debido a que identifica elementos visuales y
          los triangula desde diferentes localizaciones, generando un mapa 3D
          del entorno.
        </p>
        <p class="fs-2">
          Esta tecnología resuelve el problema de la autolocalización con un
          sensor de bajo costo considerando que SLAM involucra un problema
          geométrico sin solución analítica que debe ser resuelto en tiempo
          real, lo que demanda un alto costo computacional.
        </p>
      </div>
    </div>
  </div>
</section>
<app-technologies></app-technologies>
<app-repos></app-repos>