<section>
    <div class="container">
      <h1 class="mb-4">TECNOLOGÍAS</h1>
      <div class="row text-center">
        <div class="col">
          <img class="technology" src="assets/images/technologies/cpp.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/css.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/ems.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/html.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/js.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/ocv.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/python.png" />
        </div>
        <div class="col">
          <img class="technology" src="assets/images/technologies/wa.png" />
        </div>
      </div>
    </div>
  </section>