/*#region Root*/

:root {
  --primary-color-black: #000000;
  --primary-color-sunset-orange: #ff4c4c;
  --primary-color-night-rider: #2f2f2f;
}

/*#endregion Root*/

/*#region Fonts*/

@font-face {
  font-family: Sarabun;
  src: url(assets/fonts/Sarabun-Regular.ttf) format("opentype");
}

@font-face {
  font-family: 'Sarabun Bold';
  src: url(assets/fonts/Sarabun-ExtraBold.ttf) format("opentype");
}

@font-face {
  font-family: 'Sarabun Extra Bold Italic';
  src: url(assets/fonts/Sarabun-ExtraBoldItalic.ttf) format("opentype");
}

body {
  font-family: Sarabun;
  overflow-x: hidden;
}

h1 {
  font-weight: 600;
  padding-bottom: 20px;
	font-family: 'Sarabun Extra Bold Italic';
}

/*#endregion Fonts*/