<section>
  <div class="container">
    <h1>EL EQUIPO</h1>
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <img class="member" src="assets/images/members/abustamante.jpeg" />
          <p class="name">Andres Bustamante</p>
        </div>
        <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <img class="member" src="assets/images/members/mdestefano.jpeg" />
          <p class="name">Matías De Stefano</p>
        </div>
        <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <img class="member" src="assets/images/members/apernas.jpeg" />
          <p class="name">Agustín Pernas</p>
        </div>
        <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <img class="member" src="assets/images/members/lsantos.jpeg" />
          <p class="name">Leandro Santos</p>
        </div>
        <div class="column col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
          <img class="member" src="assets/images/members/asinopoli.jpeg" />
          <br />
          <p class="name">Alesio Sinopoli</p>
        </div>
      </div>
    </div>
  </div>
</section>
